h1, h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;              /* Extra bold look */
  font-size: 4.5rem;             /* Make it huge */
  line-height: 1.05;             /* Tight line spacing */
  letter-spacing: -1px; 
}

h3, h4, h5, p, a {
  font-family: "DIN Condensed"; 
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*intro image section*/
.introimage {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background: url("../img/magazine.jpg") center/cover no-repeat;
}
/* NAVBAR DEFAULT (ON IMAGE) */
.navbar {
  transition: background-color 0.3s ease;
}

.navbar .nav-link {
  color: white;
  font-family: "DIN Condensed";
  font-size: 1.5rem;
  margin-left: 30px;
}

.navbar .nav-link:hover {
  color: #ddd;
}

/* NAVBAR AFTER SCROLL */
.navbar.scrolled {
  background-color: black;
}

/* NAME POSITIONING */
.introimage-text {
  position: absolute;
  bottom: 20px;
  Left: 40px;
  color: white;
}
.about-box {
  position: relative;
  min-height: 450px;
}

.about-bg {
  position: absolute;
  width: 200%;
  max-width: 700px;
  z-index: 1;
}

.camera {
  width: 300px;
  height: auto;
  display: block;

  position: relative;
  z-index: 2;
}
.introimage-text h1 {
  font-size: clamp(2rem, 8vw, 6rem);
  margin: 0;
}

.about-me-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .about-bg {
    width: 100%;
    max-width: none;
    padding-left: 30px;
    left: 0;
  }
}